body {
  background-color: #dddddd;
}

.title,
.turn {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.turn {
  font-size: 1.5rem;
}

.board {
  height: 500px;
  width: 500px;
  border: 10px solid #333333;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.grid__row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
  padding: 2rem;
  font-size: 4rem;
}
