body {
  background-color: #dddddd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title,
.turn,
.add-players-title,
input,
.submit {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.turn {
  font-size: 1.5rem;
}

.board {
  height: 500px;
  width: 500px;
  border: 10px solid #333333;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.grid__row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
  padding: 2rem;
  font-size: 4rem;
}

#restartButton {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #333333;
  background: #cfcfcf;
}

#restartButton:hover {
  background: #e9e9e9;
}

dialog {
  border: 4px solid #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 15rem;
}

.add-player-names-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

.add-players-title {
  font-weight: 700;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  border: 2px solid #333333;
  font-size: 1rem;
}

.submit {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #333333;
  background: #cfcfcf;
  font-size: 1rem;
}

.submit:hover {
  background: #e9e9e9;
}
